{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/carouselimages.css' %}">
    <meta charset="UTF-8">
    <title>Images</title>
</head>
<body>
{% include "componets/sideNavDoc.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
            <div id="contentWrapper">
                <form method="post" enctype='multipart/form-data'> {% csrf_token %}
                    <div id="popupContainer" class="popup">
                        <div id="overlay" class="overlay">
                        <div class="popup-content">
                            <span class="close-button" id="closePopupButton">&times;</span>
                            <table>
                                <tr>
                                    <div class="row"> {% if messages %}
                                        <div class="col-12"> {% for message in messages %}
                                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                            {% if message.tags == 'error' %}
                                                <td></td>
                                                <td>
                                                    <input class='box' onclick="getCoordinates()" type="submit"
                                                           name="submitReport" id="submitReport"
                                                           style="top: 15em; display: none;" value="Submit">
                                                </td> {% endif %} {% endfor %}
                                        </div> {% else %}
                                        <td>
                                            <input class='box' onclick="drawImage('{{ image }}')" type="button"
                                                   name="report" id="report" style="top: 15em;" value="REPORT!">
                                        </td>
                                        <td></td>
                                        <td>
                                            <input class='box' onclick="getCoordinates()" type="submit"
                                                   name="submitReport" id="submitReport"
                                                   style="top: 15em; display: none;" value="Submit">
                                        </td> {% endif %}
                                    </div>
                                </tr>
                            </table>
                            <input type="text" name="x" id="x" style="display: none;">
                            <input type="text" name="y" id="y" style="display: none;">
                            <input type="text" name="i" id="i" style="display: none;">
                            <input type="text" name="m" id="m" style="display: none;">
                            <input type="text" name="im" id="im" style="display: none;">
                            <div id="tools" style="display: none;">
                                <div style="margin-top:5px">
                                    <span>Size: </span>
                                    <input type="range" min="1" max="50" value="10" class="size" id="sizeRange"/>
                                </div>
                                <div style="margin-top:5px">
                                    <table>
                                        <tr>
                                            <th>
                                                <span>Color: </span>
                                            </th>
                                            <td>
                                                <input type="radio" name="colorRadio" value="black" checked/>
                                                <label for="black">Black</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="colorRadio" value="white"/>
                                                <label for="black">White</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="colorRadio" value="red"/>
                                                <label for="black">Red</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="colorRadio" value="green"/>
                                                <label for="black">Green</label>
                                            </td>
                                            <td>
                                                <input type="radio" name="colorRadio" value="blue"/>
                                                <label for="black">Blue</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <canvas ondblclick="fullscreen()" id="canvas"></canvas>
                        </div>
                       </div>
                    </div>
                        <div id="wrap">
                            <a href="#/" class="hb">
                                <div class="c">
                                    <img id='mask' name='mask' src="{{ mask }}" alt=""/>
                                    <div class="txt">
                                        <h1>Segmentation mask</h1>
                                        <p id="info"></p>
                                        <button class='box' onclick="drawImage('{{ image }}')" type="button" name="report" value="REPORT!" id="openPopupButton">Report invalid mask</button>
                                    </div>
                                </div>
                            </a>
                            <div class="fullBg">
                                <img src="{{ mask }}" alt=""/>
                            </div>
                            <a href="#/" class="hb">
                                <div class="c">
                                    <img id='image' name="image" src="{{ image }}" alt=""/>
                                    <div class="txt">
                                        <h1>Uploaded image</h1>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                            <div class="fullBg">
                                <img src="{{ image }}" alt=""/>
                            </div>
                            <a href="#/" class="hb">
                                <div class="c">
                                    <img id="imageAndMask" src="{{ imageAndMask }}" alt=""/>
                                    <div class="txt">
                                        <h1>Segmented image</h1>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                            <div class="fullBg">
                                <img src="{{ imageAndMask }}" alt=""/>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="static/js/carouselimages.js"></script>
</body>
</html>