{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/adminHome.css' %}">
    <meta charset="UTF-8">
    <title>Admin Base</title>
  </head>
  <body>
{% include "componets/sideNavDoc.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
            <header id="profileHeader"><h1>welcome {{ user }}</h1></header>
            <div id="contentWrapper">


            </div>
        </div>
    </div>
{% endblock %}

  </body>
</html>