{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/uploadImagePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageLoad.css' %}">
    <meta charset="UTF-8">
    <title>Admin Base</title>
</head>

<body>
{% include "componets/sideNavDoc.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
            <div id="contentWrapper">

                <div style="align-items: center;">
                    <form method="post" action="/Segmentation" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input onchange="enableSubmit()" type="file" name='fileInput' id="fileInput"
                               class="drop-zoon__file-input"
                               accept="image/*">
                        <input type="submit" name="submit" id="submit" Submit>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="static/js/uploadImagePage.js"></script>
<script src="static/js/index.js"></script>
</body>

</html>