/*#profileHeader {*/
/*  animation: slide 60s linear infinite alternate;*/
/*  background-image: url("/static/images/2328064.jpg");*/
/*  background-repeat: repeat;*/
/*  height: auto; !* Allow content to determine height *!*/
/*  position: relative;*/
/*  box-shadow: 0em 0em 0em rgba(0, 0, 0, 0);*/
/*  z-index: 2;*/
/*  padding: 2em 1em; !* Adjusted padding values *!*/
/*  will-change: height, padding, box-shadow;*/
/*  transition-property: height, padding, box-shadow;*/
/*  overflow: hidden; !* Add overflow property *!*/
/*}*/
/*@keyframes slide {*/
/*  to {*/
/*    background-position: 0 50%;*/
/*  }*/
/*}*/

       .chart-container {
            max-height: 300px;
            max-width: 400px;
            margin-bottom: 20px; /* Adjust as needed */
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        /* Add this to your existing CSS file or create a new one */
.scroll-container {
    max-height: 80vh; /* Adjust the height as needed */
    overflow-y: auto;
}




