img {
    max-width: 200px;
    max-height: 200px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.card-body a{
  font-size: 1.2rem;
  align-items: center;
  color: #3d3d3d;
}

.card-body a:hover {
  color: black;
}

/* Define styles for the form */
form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.image {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 10px;
}

.prediction {
  font-weight: bold;
  text-align: center;
}

select {
  display: inline-block;
  position: relative;
}

select {
  width: 200px;
  padding: 8px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
}

 select:focus {
  outline: none;
}

select::before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
}

select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #999 transparent transparent transparent;
  pointer-events: none;
}

/* Style the options */
 select option {
  font-size: 14px;
  padding: 8px;
}

.section-title a {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.section-title a:hover {
    background-color: #0062cc;
    color: #fff;
}

  .delayed-text {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .show .delayed-text {
    opacity: 1;
  }