{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'css/Authentication/loginPage.css' %}">
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>

<body>
  <div class="wrapper">
    <div class="logo"></div>
    <div class="text-center mt-4 name"></div>
    <form class="p-3 mt-3" action="/doLogin" method="post"> {% csrf_token %} <div class="container">
        <div class="content">
          <div class="banner">
            <h1>Medical Consult</h1>
            <h3>Student app</h3>
            <h3>With patient volume continuing to grow throughout healthcare-and the steady stream of referrals coming
              your way-it can feel as if your work as a dermatologist is never done. Medical consult is designed to
              reduce the workload by assisting in the analysis of skin lesion images. </h3>
          </div>
          <div class="form" id="form">
            <img src="https://i.pinimg.com/236x/4d/a8/bb/4da8bb993057c69a85b9b6f2775c9df2.jpg" alt="profile">
            <p>Need an Account? <a href="/sign_up" id="sign_up">Sign up</a></p>
            <input name="email" id="email" type="email" autocomplete placeholder="Email" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit">Sign In</button>
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>