{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="{% static 'css/adminHome.css' %}">
    <meta charset="UTF-8">
</head>

<body>
{% include "componets/sideNav.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
            <header id="profileHeader"><h1>welcome {{ user }}</h1></header>
            <div id="contentWrapper">


            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript" src="{% static '/js/adminHome.js' %}"></script>
</body>

</html>