{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Home</title>
  <link rel="stylesheet" href="{% static 'css/adminHome.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/pageLoad.css' %}">
  <meta charset="UTF-8">
</head>

<body>
  <script>
    var app = document.getElementsByTagName("BODY")[0];
    if (localStorage.lightMode == "dark") {
      app.setAttribute("light-mode", "dark");
    }
  </script>

  <!-- SideNav -->
  <div id="wrapper">
    <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="#">Home</a></li>
        <li><a href="/trainModel">Train</a></li>
        <li><a href="/modifyDoctors">Users</a></li>
        <li><a href="/modifyImages">Images</a></li>
        <li><a href="/">Logout</a></li>
        <li style="position: absolute; top: 100%; height: 150px;">
          <button class="light-mode-button" aria-label="Toggle Light Mode" onclick="toggle_light_mode()">
            <span></span>
            <span></span>
          </button>
        </li>
      </div>
    </div>
    <!-- End of SiveNav -->

    <!-- Content -->
    <div id="rightWrapper">
      <div id="header">
        <a id="fullPage" href="#">|||</a>
      </div>
      <div id="contentWrapper">
        <section>
          <canvas id="myPieChart"></canvas>
        </section>
        <section>
          <canvas id="myLineChart"></canvas>
        </section>
      </div>
      <script type="text/javascript" src="{% static '/js/charts.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        drawPieChart({{ user_types | safe}}, {{ user_type_counts | safe}});
        drawLineChart({{ user_dates | safe}}, {{ user_date_counts | safe}});
      </script>
    </div>
  </div>
  <!-- End of Content -->

  </div>

  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static '/js/darkMode.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/pageLoad.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/sideNav.js' %}"></script>
  =
</body>

</html>