{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/editUser.css' %}">
    <meta charset="UTF-8">
    <title>Admin Base</title>
</head>
<body>
{% include "componets/sideNav.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
        </div>
            <div id="contentWrapper">


                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-4 pb-5">
                            <!-- Account Sidebar-->
                            <div class="author-card pb-3">
                                <div class="author-card-cover"></div>
                                <div class="author-card-profile">
                                    <div class="author-card-avatar"><img
                                            src="https://i.pinimg.com/236x/4d/a8/bb/4da8bb993057c69a85b9b6f2775c9df2.jpg"
                                            alt="">
                                    </div>
                                    <div class="author-card-details">
                                        <h5 class="author-card-name text-lg">{{ user.username }}</h5>
                                        <span class="author-card-position">{{ user.date_joined }}</span>

                                    </div>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <br/>

                            <table style="width: 300px; background-color: #fafbfC ">
                                <thead>
                                <tr>
                                    <th colspan="2">Update User</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2">
                                        <form action="/edit_doctor_save" method="post" id="contactFrm"
                                              name="contactFrm">
                                            {% csrf_token %}

                                            <input type="text" value={{ user.username }} placeholder="username"
                                                   name="username" class="txt">
                                            <input type="text" value={{ user.email }} placeholder="email" name="email"
                                                   class="txt">
                                            <input type="password" placeholder="Change Pwd" name="password" class="txt">
                                            <select name="user_type" required>
                                          {% for value, label in user.user_type_data %}
                                            <option value="{{ value }}" {% if user.user_type == value %}selected{% endif %}>{{ label }}</option>
                                          {% endfor %}
                                           </select>

                                            <input type="checkbox" {% if user.is_active %}checked{% endif %}
                                                   name="is_active" id="active_checkbox">
                                            <label for="active_checkbox" class="checkbox">Active</label>
                                            <input type="hidden" placeholder="user_id" value="{{ user.id }}"
                                                   name="user_id" class="txt">
                                            <br>
                                            <br>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                {% if messages %}
                                <tr>
                                    <td colspan="2">
                                        <div class="form-group">
                                                {% for message in messages %}
                                                    {% if message.tags == 'error' %}
                                                        <div class="alert alert-danger"
                                                             style="margin-top:10px">{{ message }}</div>
                                                    {% endif %}
                                                    {% if message.tags == 'success' %}
                                                        <div class="alert alert-success"
                                                             style="margin-top:10px">{{ message }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}

                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}

</body>
</html>