{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script>
        window.addEventListener("load", function (event) {
            lazyload();
        });
    </script>
    <link rel="stylesheet" href="{% static 'css/modifyImages.css' %}">
    <link rel="stylesheet" href="{% static 'css/deleteButton.css' %}">
    <meta charset="UTF-8">
    <title>Admin Base</title>
</head>

<body>
{% include "componets/sideNav.html" %}

{% block content %}
    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
        </div>
        <div id="contentWrapper">
            <button class="open-button" onclick="openForm()">Upload Images</button>

            <div class="form-popup" id="myForm">
                <form action="/add_image" method="post" enctype="multipart/form-data" name="submitImage"
                      class="form-container">
                    {% csrf_token %}
                    <h1>Add</h1>
                    <label for="purpose"><b>Purpose</b></label>
                    <select name="purpose" id="purpose" required>
                        <option value="train">train</option>
                        <option value="test">test</option>
                    </select>
                    <br>
                    <label for="Upload images:"><b>Image</b>
                        <input type="file" id="imageFiles" name="imageFiles" accept="image/*" multiple required>
                    </label>
                    <br>
                    <label for="Upload masks:"><b>Mask</b>
                        <input type="file" id="maskFiles" name="maskFiles" accept="image/*" multiple required>
                    </label>
                    <br>
                    <button type="submit" name="submitImage" class="btn">Submit</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

            <!-- filter Items -->
            <nav>
                <div class="items">
                    <span class="item active" data-name="all">All</span>
                    <span class="item" data-name="train">Train {{ trainCount }}</span>
                    <span class="item" data-name="test">Test {{ testCount }}</span>
                    <span class="item" data-name="report">Report {{ reportCount }}</span>
                </div>
            </nav>
            <!-- filter Images -->

            <div class="gallery">
                {% for image in images %}
                    <div class="image" data-name="{{ image.purpose }}">
            <span>
              <div class="btn">
                <a style="position: absolute; padding-top: 0%;" href="delete_image/{{ image.id }}">
                  {{ image.date }}
                    <i class="fas fa-trash-alt"></i>
                </a>
              </div>
              <img class="lazyload" src="https://media.tenor.com/UnFx-k_lSckAAAAM/amalie-steiness.gif"
                   id='img{{ image.id }}' onmouseleave="showMask('{{ image.images.url }}', 'img{{ image.id }}')"
                   data-src={{ image.images.url }} onmouseover="showMask('{{ image.masks.url }}','img{{ image.id }}')"
                   alt="">
            </span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- fullscreen img preview box -->
        <div class="preview-box">
            <div class="details">
                <span class="title">Image Category: <p></p></span>
                <span class="icon fas fa-times">x</span>
            </div>
            <div class="image-box"><img src="" alt=""></div>
        </div>
        <div class="shadow"></div>
    </div>
{% endblock %}

<!-- end center -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="static/js/modifyImages.js"></script>
</body>

</html>