{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/trainList.css' %}">
    <link rel="stylesheet" href="{% static 'css/stepper.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Model</title>
</head>

<body>
{% include "componets/sideNav.html" %}
{% block content %}

    <div id="rightWrapper">
        <div id="header">
            <a id="fullPage" href="#">|||</a>
        </div>
        <div id="contentWrapper">

            <div class="download-links">
                <a href="{% url 'download_csv' %}" class="download-link" style="font-size: 50px;">
                    <i class="fas fa-file-csv"></i>
                </a>
            </div>

            <table id="run-table">
                <thead>
                <tr>
                    <th>Run</th>
                    <th>Status</th>
                    <th>Created data</th>
                    <th>Created by</th>
                    <th class="no-sort">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for run in runs %}
                    <tr>
                        <td>{{ run.name }}</td>
                        <td>{{ run.status }}</td>
                        <td>{{ run.date }}</td>
                        <td>{{ run.trainer.username }}</td>
                        <td>
                            <div class="inline-block" style="display: flex; align-items: center;">
                                <form action="{% url 'delete_run' run.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-button" style="background: #8a2727;">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                                <a href="{% url 'train_results' run.id %}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

            <button class="open-button" onclick="openForm()">Train model</button>
            <div class="form-popup" id="myForm">
                <div class="form-content">
                    <button class="close-button" onclick="closeForm()">&times;</button>
                    <ul id="progressbar">
                        <li class="active">Step 1</li>
                        <li>Step 2</li>
                        <li>Step 3</li>
                    </ul>
                    <form id="msform" onsubmit="submitForm(event)">
                        {% csrf_token %}

                        <fieldset>
                            <h2 class="fs-title">Step 1</h2>
                            <h3 class="fs-subtitle">Model Details</h3>
                            <input type="text" name="name" placeholder="Name"/>
                            <input type="button" name="next" class="next action-button" onclick="nextTab()"
                                   value="Next"/>
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Step 2</h2>
                            <h3 class="fs-subtitle">Model state</h3>
                            <input type="file" name="file" placeholder="file"/>
                            <input type="button" name="previous" class="previous action-button-previous"
                                   onclick="previousTab()" value="Previous"/>
                            <input type="button" name="next" class="next action-button" onclick="nextTab()"
                                   value="Next"/>
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Step 3</h2>
                            <h3 class="fs-subtitle">Select images for training</h3>

                            <table id="imageTable" class="display" style="max-font-size: 100px">
                                <thead>
                                <button type="button" onclick="checkAllImages()">Check All</button>

                                <tr>
                                    <th class="no-sort">Select</th>
                                    <th>Name</th>
                                    <th class="no-sort">Image</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for image in trainImages %}
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="checkbox" name="selectedImages"
                                                       value="{{ image.id }}">
                                            </label>
                                        </td>
                                        <td>{{ image.images.name }}</td>
                                        <td>
                                            <img src="{{ image.images.url }}" alt="Image"
                                                 style="width: 100px; height: 100px;">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <input type="button" name="previous" class="previous action-button-previous"
                                   onclick="previousTab()" value="Previous"/>
                            <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                        </fieldset>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#run-table').DataTable({
                "paging": true,
                "searching": true,
                "lengthMenu": [[3, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "info": true,
                columnDefs: [
                    {"orderable": false, "targets": 'no-sort'}
                ]
            });
        });

        $(document).ready(function () {
            $('#imageTable').DataTable({
                "paging": true,
                "searching": true,

                "lengthMenu": [[3, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "info": true,
                "columnDefs": [
                    {"orderable": false, "targets": "no-sort"}
                ]
            });
        });

function submitForm(event) {
    event.preventDefault();

    // Collect form data
    const formData = new FormData(event.target);

    // Get the original DataTable
    const originalTable = $('#imageTable').DataTable();

    // Iterate over each page of the original table
    originalTable.page.info().pages.forEach(function (page) {
        // Go to the specific page
        originalTable.page(page).draw(false);

        // Get all the checkboxes on the current page
        const checkboxes = originalTable.column(0).nodes().to$().find('input[name="selectedImages"]');
        checkboxes.each(function () {
            if (this.checked) {
                formData.append('selectedImages', this.value);
            }
        });
    });

    // Make an AJAX request using jQuery
    $.ajax({
        url: '/predictMask/',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
            // Handle the response from the backend if needed
            console.log(response);
        },
        error: function (error) {
            // Handle any errors that occur during the form submission
            console.error(error);
        }
    });
}

function checkAllImages() {
    const originalTable = $('#imageTable').DataTable();
    const checkboxes = originalTable.column(0).nodes().to$().find('input[name="selectedImages"]');

    checkboxes.prop('checked', true); // Check all checkboxes on the current page

    // Loop through each page and check all checkboxes
    for (let i = 1; i < originalTable.page.info().pages; i++) {
        originalTable.page(i).draw(false); // Go to the specific page
        const pageCheckboxes = originalTable.column(0).nodes().to$().find('input[name="selectedImages"]');
        pageCheckboxes.prop('checked', true); // Check all checkboxes on the current page
    }

    checkboxes.each(function () {
        toggleCheckmark(this);
    });
}

function toggleCheckmark(checkbox) {
    const checkmark = checkbox.parentNode.querySelector('.checkmark');
    checkmark.style.display = checkbox.checked ? 'inline-block' : 'none';
}



    </script>

{% endblock %}

<script src="{% static 'js/trainList.js' %}"></script>
<script src="{% static 'js/stepper.js' %}"></script>
</body>

</html>