{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/evaluateModel.css' %}">
    <link rel="stylesheet" href="{% static 'css/stepper.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Admin Base</title>
</head>

<body>
{% include "componets/sideNav.html" %}
<div id="rightWrapper">
    <div id="header">
        <a id="fullPage" href="#">|||</a>
    </div>
    <div id="contentWrapper">

        <div class="form-content">
            <ul id="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
            </ul>
            <form id="msform" action="/train_evaluated" method="POST">
                {% csrf_token %}

                <fieldset>
                    <h2 class="fs-title">Step 1</h2>
                    <h3 class="fs-subtitle">Choose checkpoint</h3>

                    <select id="checkpoint" name="prediction_checkpoint">
                        {% for checkpoint in checkpoints %}
                            <option value={{ checkpoint.file_path }}>checkpoint_{{ checkpoint.epoch }}</option>
                        {% endfor %}
                    </select>
                    <h3 style="padding-top: 50px" class="fs-subtitle">Choose run's name</h3>
                    <input type="text" name="name" id="runName">
                    <br>

                    <input type="button" name="next" class="next action-button" onclick="nextTab()"
                           value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Step 2</h2>
                    <div>
                        <label for="numberOfImages">Number of Images:</label>
                        <input type="number" id="numberOfImages" min="1">
                        <br>
                        <label for="section">Select Section:</label>
                        <select id="section">
                            <option value="reportImages">Report Images</option>
                            <option value="trainImages">Train Images</option>
                            <option value="testImages">Test Images</option>
                        </select>
                        <br>
                        <br>
                        <button type="button" id="checkImagesBtn">Check Images</button>
                        <br>
                    </div>
                    <h3 class="fs-subtitle">Upload/Choose images for mask prediction</h3>
                    <table id="imageTable" class="display">
                        <thead>
                        <tr>
                            <th class="no-sort"></th>
                            <th class="no-sort">Image</th>
                            <th class="no-sort">Mask</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in reportImages %}
                            <tr>
                                <td>
                                    <label>
                                        <input type="checkbox" name="reportImages"
                                               value="{{ item.id }}">
                                    </label>
                                </td>
                                <td>
                                    <img src="{{ item.images.url }}" alt="Image">
                                </td>
                                <td>
                                    <img src="{{ item.masks.url }}" alt="Mask">
                                </td>
                                <td>
                                    {{ item.purpose }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for item in trainImages %}
                            <tr>
                                <td>
                                    <label>
                                        <input type="checkbox" name="trainImages" value="{{ item.id }}">
                                    </label>
                                </td>
                                <td>
                                    <img src="{{ item.image.url }}" alt="Image">
                                </td>
                                <td>
                                    <img src="{{ item.mask.url }}" alt="Mask">
                                </td>
                                <td>
                                    {{ item.purpose }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for item in testImages %}
                            <tr>
                                <td>
                                    <label>
                                        <input type="checkbox" name="testImages" value="{{ item.id }}">
                                    </label>
                                </td>
                                <td>
                                    <img src="{{ item.images.url }}" alt="Image">
                                </td>
                                <td>
                                    <img src="{{ item.masks.url }}" alt="Mask">
                                </td>
                                <td>
                                    {{ item.purpose }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>

                    <input type="file" name="uploadedImages" multiple>

                    <div id="loadingSpinner" style="display: none;">
                        <div class="spinner-box">
                            <div class="blue-orbit leo"></div>
                            <div class="green…-orbit leo"></div>
                            <div class="red-orbit leo"></div>
                            <div class="white-orbit w1 leo"></div>
                            <div class="white-orbit w2 leo"></div>
                            <div class="white-orbit w3 leo"></div>
                        </div>
                    </div>
                    <div id="loadingBar" style="display: none;">
                        <div class="loading-progress"></div>
                    </div>

                    <input type="button" name="previous" class="previous action-button-previous"
                           onclick="previousTab()" value="Previous"/>
                    <input type="button" name="next" class="next action-button"
                           value="Next" onclick="submitForm(this.form)"/>
                </fieldset>


                <fieldset>
                    <h2 class="fs-title">Step 3</h2>
                    <h3 class="fs-subtitle">Correct predicted masks</h3>

                    <table id="imageTable" class="display" style="max-font-size: 100px">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="no-sort">Image</th>
                            <th class="no-sort">Mask</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="step3TableBody"></tbody>
                    </table>

                    <input type="button" name="previous" class="previous action-button-previous"
                           onclick="previousTab()" value="Previous"/>
                    <input type="button" name="next" class="next action-button"
                           value="Next" onclick="submitCorrectedImages(this.form)"/>

                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Step 4</h2>
                    <h3 class="fs-subtitle">Choose the train images</h3>
                    <div>
                        <label for="numberOfImages">Number of Images:</label>
                        <input type="number" id="numberOfFinalImages" min="1">
                        <button type="button" id="checkFinalImagesBtn">Check Images</button>
                    </div>
                    <br>
                    <table id="imageTable" class="display" style="max-font-size: 100px">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="no-sort">Image</th>
                            <th class="no-sort">Mask</th>
                            <th>Updated</th>
                        </tr>
                        </thead>
                        <tbody id="step4TableBody"></tbody>
                    </table>

                    <div id="loadingSpinnerStep4" style="display: none;">
                        <div class="spinner-box">
                            <div class="blue-orbit leo"></div>
                            <div class="green-orbit leo"></div>
                            <div class="red-orbit leo"></div>
                            <div class="white-orbit w1 leo"></div>
                            <div class="white-orbit w2 leo"></div>
                            <div class="white-orbit w3 leo"></div>
                        </div>
                    </div>

                    <input type="button" name="previous" class="previous action-button-previous"
                           onclick="previousTab()" value="Previous"/>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="{% static '/js/evaluateModel.js' %}"></script>
<script src="{% static '/js/stepper.js' %}"></script>
</body>

</html>